[flake8]
max-line-length = 120
ignore =
    # ambiguous variable 'l' (and others)
    E741
    # line break before binary operator
    W503
    # line break after binary operator
    W504
exclude =
    venv,
    __pycache__,
    doc/source/conf.py,
    ./spotterbase/rdf/vocab.py
per-file-ignores =
    # ignore unused imports as they are intended as export
    ./spotterbase/*/__init__.py: F401
    # f-strings without place holders sometimes useful for consistent formatting
    ./doc/source/snippets/spotter_dev/formula_spotter.py: F541
